<a href="https://colab.research.google.com/github/deardanny/deardanny.github.io/blob/main/n122_chi_square_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# üìù Assignment

# Ïπ¥Ïù¥Ï†úÍ≥±Í≤ÄÏ†ï


## 1. Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞ Ï°∞Ïûë Ïó∞Ïäµ. 

Íµ≠Í∞Ä ÌÜµÍ≥Ñ Ìè¨ÌÑ∏ÏóêÏÑú ÏïÑÎûò Ïù¥ÎØ∏ÏßÄÎ•º Ï∞∏Ï°∞ÌïòÏó¨

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020ÎÖÑ 8Ïõî**Ïóê Ìï¥ÎãπÌïòÎäî Í∑úÎ™®Î≥Ñ ÎØ∏Î∂ÑÏñëÌòÑÌô© Ïóê ÎåÄÌïú Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÉùÏÑ±ÌïòÏÑ∏Ïöî. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60mÏù¥Ìïò`, `60~85m`, `85mÏ¥àÍ≥º`Ïùò 3Í∞ú Í∑úÎ™®ÏôÄ (column)
- `ÏÑúÏö∏`, `ÎåÄÏ†Ñ`, `ÎåÄÍµ¨`, `Î∂ÄÏÇ∞` 4Í∞úÏùò ÏßÄÏó≠ÏùÑ Ìè¨Ìï®Ìï¥ÏïºÌï©ÎãàÎã§. (row)
- Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÎäî Í≤ΩÏö∞Îäî 0ÏúºÎ°ú Ï≤òÎ¶¨ÌïòÏÑ∏Ïöî.

Ïù¥ÌõÑ Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ colabÏúºÎ°ú Î∂àÎü¨Ïò§ÏÑ∏Ïöî. Ïù¥Îïå Î≥ÄÏàòÏùò Ïù¥Î¶ÑÏùÄ `df`Î•º ÏÇ¨Ïö©Ìï©ÎãàÎã§.

In [69]:
col = ['~60m2', '60~85m2', '85m2~']
row = ['ÏÑúÏö∏', 'ÎåÄÏ†Ñ', 'ÎåÄÍµ¨', 'Î∂ÄÏÇ∞']

In [70]:
import pandas as pd
import numpy as np
import io

In [7]:
from google.colab import files
myfile = files.upload()

Saving ·ÑÄ·Ö≤·ÑÜ·Ö©·Ñá·Öß·ÜØ_·ÑÜ·Öµ·Ñá·ÖÆ·Ü´·Ñã·Ö£·Üº·Ñí·Öß·Ü´·Ñí·Ö™·Üº.csv to ·ÑÄ·Ö≤·ÑÜ·Ö©·Ñá·Öß·ÜØ_·ÑÜ·Öµ·Ñá·ÖÆ·Ü´·Ñã·Ö£·Üº·Ñí·Öß·Ü´·Ñí·Ö™·Üº.csv

In [3]:
# ÌååÏùº ÌôïÏù∏ ÏΩîÎìú
# !ls -al
# ÌååÏùº ÏÇ≠Ï†ú ÏΩîÎìú
# !rm ·ÑÄ·Ö≤·ÑÜ·Ö©·Ñá·Öß·ÜØ_·ÑÜ·Öµ·Ñá·ÖÆ·Ü´·Ñã·Ö£·Üº·Ñí·Öß·Ü´·Ñí·Ö™·Üº.numbers

In [71]:
def toInt(string):
    return int(string.replace(',',''))

In [72]:
df = pd.read_csv(io.BytesIO(myfile['·ÑÄ·Ö≤·ÑÜ·Ö©·Ñá·Öß·ÜØ_·ÑÜ·Öµ·Ñá·ÖÆ·Ü´·Ñã·Ö£·Üº·Ñí·Öß·Ü´·Ñí·Ö™·Üº.csv']), encoding='utf8')
df

# df Ï†ïÎ¶¨ÌïòÍ∏∞
df = df.iloc[1:, 1:]
df.columns = ['', '-60(Í≥µÍ≥µ)', '60-85(Í≥µÍ≥µ)', '85-(Í≥µÍ≥µ)', '-60(ÎØºÍ∞Ñ)', '60-85(ÎØºÍ∞Ñ)', '85-(ÎØºÍ∞Ñ)']

# ÏàòÏπòÌòï Îç∞Ïù¥ÌÑ∞Î°ú Î∞îÍæ∏Í∏∞
df['-60(Í≥µÍ≥µ)'] = df['-60(Í≥µÍ≥µ)'].apply(toInt)
df['60-85(Í≥µÍ≥µ)'] = df['60-85(Í≥µÍ≥µ)'].apply(toInt)
df['85-(Í≥µÍ≥µ)'] = df['85-(Í≥µÍ≥µ)'].apply(toInt)
df['-60(ÎØºÍ∞Ñ)'] = df['-60(ÎØºÍ∞Ñ)'].apply(toInt)
df['60-85(ÎØºÍ∞Ñ)'] = df['60-85(ÎØºÍ∞Ñ)'].apply(toInt)
df['85-(ÎØºÍ∞Ñ)'] = df['85-(ÎØºÍ∞Ñ)'].apply(toInt)
df

       -60(Í≥µÍ≥µ)  60-85(Í≥µÍ≥µ)  85-(Í≥µÍ≥µ)  -60(ÎØºÍ∞Ñ)  60-85(ÎØºÍ∞Ñ)  85-(ÎØºÍ∞Ñ)
1  ÏÑúÏö∏        0          0        0       54          2        0
2  Î∂ÄÏÇ∞        0          0        0      577        735      142
3  ÎåÄÍµ¨        0          0        0      143       1437       44
4  ÎåÄÏ†Ñ        0          0        0      782          1        0

## 2. ÏßÄÏó≠Ïóê ÎåÄÌï¥ÏÑú one-sample chi-square testÎ•º Ïã§Ìñâ, Ìï¥Îãπ Í≤∞Í≥ºÎ•º `chi1`Ïóê Ï†ÄÏû• ÌõÑ ÏÑ§Î™ÖÌï¥Î≥¥ÏÑ∏Ïöî.

ÏòàÏãú) ÎßåÏïΩ **9ÏõîÎã¨ Îç∞Ïù¥ÌÑ∞**Î•º Í∏∞Ï§ÄÏúºÎ°ú ÌïúÎã§Î©¥
```python
 [0+0+0+52+2+0, 0+0+0+590+665+142, 0+0+0+113+1061+42, 0+0+0+772+1+0]
```
ÏùÑ ÎπÑÍµê ÌïòÍ≤å Îê† Í≤ÉÏûÖÎãàÎã§.

In [73]:
# Ìñâ Î≥Ñ Ï∂îÏ∂ú
seoul = df.iloc[0, 1:]
pusan = df.iloc[1, 1:]
daegu = df.iloc[2, 1:]
daejeon = df.iloc[3, 1:]

# Í∞Å Îç∞Ïù¥ÌÑ∞Î•º citysample Î≥ÄÏàòÏóê Ï†ÄÏû•ÌïòÍ∏∞
citysample = [seoul.sum(), pusan.sum(), daegu.sum(), daejeon.sum()]
citysample

[56, 1454, 1624, 783]

In [74]:
# Ï∞∏Í≥†Ïö©
# # Kruskal-Wallis Test (ÎπÑÎ™®ÏàòÏ†Å ÌèâÍ∑† ÎπÑÍµêÎ≤ï) 
# from scipy.stats import kruskal

# kruskal(seoul, pusan, daegu, daejeon)
# # p-value: 0.7098

In [75]:
# one sample chi square test Ïã§Ìñâ

from scipy import stats
from scipy.stats import normaltest
from scipy.stats import chisquare

chi1 = chisquare(citysample, axis=None)
chi1
# p-value = 0
# Í∑ÄÎ¨¥Í∞ÄÏÑ§: ÏßÄÏó≠Ïóê ÎåÄÌï¥ ÎØ∏Î∂ÑÏñë Í∞úÏàòÍ∞Ä ÏßÄÏó≠ Î≥ÑÎ°ú Ï∞®Ïù¥Í∞Ä ÏóÜÎã§.
# ÎåÄÎ¶ΩÍ∞ÄÏÑ§: ÎØ∏Î∂ÑÏñë Í∞úÏàòÍ∞Ä ÏßÄÏó≠Î≥ÑÎ°ú Ï∞®Ïù¥Í∞Ä ÏûàÎã§.
# p-valueÍ∞Ä 0.05Î≥¥Îã§ ÏûëÏúºÎ©¥ Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÑ ÏßÄÏßÄÌïòÎäî Ï†ïÎèÑÏïº ÏïΩÌï¥ÏßÑÎã§.
# Í≤∞Î°†: ÎØ∏Î∂ÑÏñë Í∞úÏàòÎäî ÏßÄÏó≠Î≥ÑÎ°ú Ï∞®Ïù¥Í∞Ä ÏûàÎã§.

Power_divergenceResult(statistic=1564.4572376818994, pvalue=0.0)

## 3. ÏßÄÏó≠Í≥º Í∑úÎ™®Ïóê ÎåÄÌï¥ÏÑú two-sample chi-square testÎ•º Ïã§Ìñâ, Ìï¥Îãπ Í≤∞Í≥ºÎ•º `chi2`Ïóê Ï†ÄÏû• ÌõÑ ÏÑ§Î™ÖÌï¥Î≥¥ÏÑ∏Ïöî.

ÏòàÏãú) **9ÏõîÎã¨ Îç∞Ïù¥ÌÑ∞**Î•º Í∏∞Ï§ÄÏúºÎ°ú ÌïúÎã§Î©¥

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|ÏÑúÏö∏|52|2|0|
|ÎåÄÏ†Ñ|772|1|0|
|ÎåÄÍµ¨|113|1061|42|
|Î∂ÄÏÇ∞|590|665|142|

Ïóê ÎåÄÌï¥ÏÑú Í≤ÄÏ†ïÌï¥Ïïº Ìï† Í≤ÅÎãàÎã§.

In [76]:
# df Îã§Ïãú Ï†ïÎ¶¨
df2 = df.copy()

# Í≥µÍ≥µÎ∂ÄÎ¨∏ ÏÇ≠Ï†ú
df2 = df2.drop(['-60(Í≥µÍ≥µ)',	'60-85(Í≥µÍ≥µ)',	'85-(Í≥µÍ≥µ)'], 1) #axisÎäî 1ÏùºÎïå ÏÑ∏Î°úÏ∂ï ÏÇ≠Ï†ú 0ÏùºÎïå Í∞ÄÎ°úÏ∂ï ÏÇ≠Ï†ú

#ÏÉàÎ°úÏö¥ Ïª¨ÎüºÎ™Ö Î∂ÄÏó¨
df2.columns = ['', '-60', '60-85', '85-']

df2

       -60  60-85  85-
1  ÏÑúÏö∏   54      2    0
2  Î∂ÄÏÇ∞  577    735  142
3  ÎåÄÍµ¨  143   1437   44
4  ÎåÄÏ†Ñ  782      1    0

In [77]:
#Ïπ¥ÌÖåÍ≥†Î¶¨ ÌòïÏúºÎ°ú Î∞îÍøîÏ£ºÍ∏∞
citysample_pri = df2[['-60', '60-85', '85-']].astype('category')
citysample_pri.dtypes

-60      category
60-85    category
85-      category
dtype: object

In [78]:
from scipy.stats import chi2_contingency

print(chi2_contingency(citysample_pri)) # correction ÌååÎùºÎØ∏ÌÑ∞Í∞Ä TrueÎ°ú ÏÑ§Ï†ï: Yates' correction ÏãúÌñâÌï® 

print(chi2_contingency(citysample_pri, correction = False))

citysample2 = chi2_contingency(citysample_pri)
citysample2

(2064.576731417199, 0.0, 6, array([[ 22.24559612,  31.09522594,   2.65917794],
       [577.59101353, 807.36533061,  69.04365586],
       [645.12228746, 901.76155221,  77.11616033],
       [311.04110288, 434.77789124,  37.18100587]]))
(2064.576731417199, 0.0, 6, array([[ 22.24559612,  31.09522594,   2.65917794],
       [577.59101353, 807.36533061,  69.04365586],
       [645.12228746, 901.76155221,  77.11616033],
       [311.04110288, 434.77789124,  37.18100587]]))

(2064.576731417199, 0.0, 6, array([[ 22.24559612,  31.09522594,   2.65917794],
        [577.59101353, 807.36533061,  69.04365586],
        [645.12228746, 901.76155221,  77.11616033],
        [311.04110288, 434.77789124,  37.18100587]]))

In [79]:
chi2 = chisquare(citysample2)
chi2

# p-value = 0
# Í∑ÄÎ¨¥Í∞ÄÏÑ§: ÏßÄÏó≠Í≥º Í∑úÎ™®Ïóê Îî∞Î•∏ ÎØ∏Î∂ÑÏñë ÏàòÎäî ÌÜµÍ≥ÑÌïôÏ†ÅÏúºÎ°ú Ïú†ÏùòÎØ∏Ìïú Í¥ÄÍ≥ÑÍ∞Ä ÏóÜÎã§.
# ÎåÄÎ¶ΩÍ∞ÄÏÑ§: ÏßÄÏó≠Í≥º Í∑úÎ™®Ïóê Îî∞Î•∏ ÎØ∏Î∂ÑÏñë ÏàòÍ∞Ä ÌÜµÍ≥ÑÌïôÏ†ÅÏúºÎ°ú Ïú†ÏùòÎØ∏Ìïú Í¥ÄÍ≥ÑÍ∞Ä ÏûàÎã§.
# p-valueÍ∞Ä 0.05Î≥¥Îã§ ÏûëÏúºÎ©¥ Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÑ ÏßÄÏßÄÌïòÎäî Ï†ïÎèÑÏïº ÏïΩÌï¥ÏßÑÎã§.
# Í≤∞Î°†: ÏßÄÏó≠Í≥º Í∑úÎ™®Ïóê Îî∞Î•∏ ÎØ∏Î∂ÑÏñë ÏàòÎäî ÎèÖÎ¶ΩÏ†ÅÏù¥ÏßÄ ÏïäÎã§.
#      Îî∞ÎùºÏÑú, Í∑úÎ™®ÏôÄ ÏßÄÏó≠Ïóê Îî∞Îùº ÎØ∏Î∂ÑÏñë Ïàò Í≤∞Í≥ºÏóê ÏòÅÌñ•ÏùÑ ÎÅºÏπúÎã§.
# ÎåÄÎ¶ΩÍ∞ÄÏÑ§ Ï±ÑÌÉù: ÏßÄÏó≠Í≥º Í∑úÎ™®Ïóê Îî∞Î•∏ ÎØ∏Î∂ÑÏñë ÏàòÍ∞Ä ÌÜµÍ≥ÑÌïôÏ†ÅÏúºÎ°ú Ïú†ÏùòÎØ∏Ìïú Í¥ÄÍ≥ÑÍ∞Ä ÏûàÎã§.

/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py:136: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order, subok=True)

Power_divergenceResult(statistic=array([[6055.04171303, 6012.78182895, 6150.66206944],
       [4294.17866432, 3952.42734926, 5838.01925703],
       [4175.6329191 , 3858.22606352, 5802.15878119],
       [4939.89208187, 4601.89455374, 5984.05553266]]), pvalue=array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]]))

### 4. 2Î≤àÏóê ÎåÄÌï¥ÏÑú NumPy Î•º ÏÇ¨Ïö©ÌïòÏó¨ (ScipyÎ•º ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÍ≥†) $\chi^2$ test ÏãúÌñâ ÌõÑ 2Î≤àÏùò Í≤∞Í≥ºÏôÄ ÎπÑÍµêÌï¥Î≥¥ÏÑ∏Ïöî. 

- `obs`, `exp`, `chi`ÎùºÎäî Î≥ÄÏàòÎ•º ÏÇ¨Ïö©Ìï¥ÏïºÌï©ÎãàÎã§.

Ïù¥ ÌõÑ `chi2_contingency()`Ïùò Í≤∞Í≥ºÎ¨ºÍ≥º ÎπÑÍµêÌï¥Î≥¥ÏÑ∏Ïöî

In [ ]:
# Ï∞∏Í≥†Ïö©

# df_t = df.copy()
# df_t = df_t.drop([''], 1)
# df_t = df_t[['-60(Í≥µÍ≥µ)','60-85(Í≥µÍ≥µ)','85-(Í≥µÍ≥µ)', '-60(ÎØºÍ∞Ñ)', '60-85(ÎØºÍ∞Ñ)', '85-(ÎØºÍ∞Ñ)']].astype('category')
# df_t.dtypes

# obs ÎΩëÏïÑÎ≥¥Í∏∞
# obs = np.array([[0, 0, 0, 54, 2, 0],
#                 [0, 0, 0, 577, 735, 142], 
#                 [0, 0, 0, 143, 1437, 44],
#                 [0, 0, 0, 782, 1, 0]
#                 ])
# total_obs = np.sum(obs)
# total_obs

In [80]:
# ÏßÅÏ†ë Íµ¨ÌïòÍ∏∞
obs = citysample

exp = np.sum(obs) / 4 # [979.25, 979.25, 979.25, 979.25]

chi = np.sum(np.power(obs - exp, 2) / exp) # chisquare statistics = 1564.4572

squared = np.power(obs - exp, 2)
print(chi)

print(1 - stats.chi2.cdf(chi, df = 4 -1)) #pvalue : 0.0
# Í≤∞Í≥ºÍ∞í ÏùºÏπò

1564.4572376818994
0.0

## üî• ÎèÑÏ†Ñ Í≥ºÏ†ú

ÏïÑÎûò ÏÑ∏Í∞ÄÏßÄÎ•º Îã§ÌïòÎ©¥ Îê©ÎãàÎã§.

### 1. Function

4Î≤àÏóêÏÑú ÏÇ¨Ïö©Ìïú one sample chisquare testÎ•º Ìï®ÏàòÏùò ÌòïÌÉúÎ°ú Î≥ÄÍ≤ΩÌïòÏÑ∏Ïöî.

In [81]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
    
    obs = np.array(value)
    exp = np.sum(obs)/6
    chi = np.sum(np.power(obs - exp, 2) / exp)
    sqaured = np.power(obs - exp, 2)
    pvalue = (1 - stats.chi2.cdf(chi, df = 6-1))
    return chi, pvalue

print(myChisq(v1)) 

# chisquareÍ∞íÍ≥º pvalueÎ•º Ï∂úÎ†•Ìï¥ÏïºÌï©ÎãàÎã§.

print(myChisq(v2))

(2.3000000000000003, 0.8062668698851285)
(14.8, 0.011251979028327308)

### 2. ANOVA

ÏïÑÎûò ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨ ANOVA Ïóê ÎåÄÌïú Í∏ÄÏùÑ ÏùΩÍ≥†

<https://partrita.github.io/posts/ANOVA-python/>

Îã§Ïùå `4Í∞ú Í∑∏Î£πÏóê ÎåÄÌï¥ÏÑú ÌèâÍ∑†Ïùò Ï∞®Ïù¥Í∞Ä ÏûàÎäîÏßÄ`Ïóê ÎåÄÌïú Í∞ÄÏÑ§ Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

In [82]:
import scipy.stats as stats
import pandas as pd
import urllib
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# DF anova
anova = {
        'A':[38,33,35,92,76,97,88,41,11,9],
        'B':[18,52,62,48,30,40,87,12,97,82],
        'C':[28,90,5,49,66,73,96,80,4,17],
        'D':[8,99,4,12,7,64,18,10,9,20]
         }

# group ÎÇòÎàÑÍ∏∞
group1 = anova['A']
group2 = anova['B']
group3 = anova['C']
group4 = anova['D']

# ANOVA Test
F_statistic, pVal = stats.f_oneway(group1, group2, group3, group4)

print(F_statistic, pVal)

# p-value = 0.1792
# Í∑ÄÎ¨¥Í∞ÄÏÑ§: 4Í∞ú Í∑∏Î£πÏóê ÎåÄÌï¥ÏÑú ÌèâÍ∑†Ïùò Ï∞®Ïù¥Í∞Ä ÏóÜÎã§.
# ÎåÄÎ¶ΩÍ∞ÄÏÑ§: 4Í∞ú Í∑∏Î£πÏóê ÎåÄÌï¥ÏÑú ÌèâÍ∑†Ïùò Ï∞®Ïù¥Í∞Ä ÏûàÎã§.
# p-valueÍ∞Ä 0.05Î≥¥Îã§ ÏûëÏúºÎ©¥ Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÑ ÏßÄÏßÄÌïòÎäî Ï†ïÎèÑÏïº ÏïΩÌï¥ÏßÑÎã§.
# Í≤∞Î°†: 4Í∞ú Í∑∏Î£πÏóê ÎåÄÌï¥ÏÑú ÌèâÍ∑†Ïùò Ï∞®Ïù¥Í∞Ä ÏóÜÎã§.

1.7249594239128412 0.17920877113948797

## 3. Sign Test

ÏïÑÎûò ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨ Sign TestÏóê ÎåÄÌïú Í∏ÄÏùÑ ÏùΩÍ≥†

<https://en.wikipedia.org/wiki/Sign_test>

Îã§Ïùå Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Îëê Í∑∏Î£πÍ∞ÑÏóê Ï∞®Ïù¥Í∞Ä ÏûàÎã§Ïóê ÎåÄÌïú Sign TestÏùò Í≥ºÏ†ïÍ≥º Í≤∞Í≥ºÎ•º ÏÑ§Î™ÖÌïòÏÑ∏Ïöî

|A|B|
|:-:|:-:|
|142|138|
|140|136|
|144|147|	
|144|139|	
|142|143|	
|146|141|	
|149|143|	
|150|145|	
|142|136|	
|148|146|

In [83]:
from scipy.stats import wilcoxon

# DF sign
sign = {
        'A':[142,140,144,144,142,146,149,150,142,148],
        'B':[138,136,147,139,143,141,143,145,136,146]
       }
    
#DF ÎÇòÎàÑÍ∏∞
sign1 = sign['A']
sign2 = sign['B']

sign_w, sign_p = wilcoxon(sign1, sign2)

print(w, p)

# p-value = 0.01618
# Í∑ÄÎ¨¥Í∞ÄÏÑ§:  Îëê Í∑∏Î£πÍ∞ÑÏóê Ï∞®Ïù¥Í∞Ä ÏóÜÎã§.
# ÎåÄÎ¶ΩÍ∞ÄÏÑ§:  Îëê Í∑∏Î£πÍ∞ÑÏóê Ï∞®Ïù¥Í∞Ä ÏûàÎã§.
# p-valueÍ∞Ä 0.05Î≥¥Îã§ ÏûëÏúºÎ©¥ Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÑ ÏßÄÏßÄÌïòÎäî Ï†ïÎèÑÏïº ÏïΩÌï¥ÏßÑÎã§.
# Í≤∞Î°†: Îëê Í∑∏Î£πÍ∞ÑÏóê Ï∞®Ïù¥Í∞Ä ÏóÜÎã§.

4.0 0.016184453851159696

In [17]:
obs

[56, 1454, 1624, 783]

In [18]:
exp

979.25

In [20]:
chi

1564.4572376818994